#header{
    background-image: url("./indy_skyline.jpg");
}

   .imgbox {
    display: grid;
    height: 100%;
   }
   .center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
    
}