/* body {
    background-image: url("https://www.gannett-cdn.com/-mm-/8602e66e2f0646d5d1c19f42adc4f4ff1ba5df43/c=0-122-2397-1476&r=x1683&c=3200x1680/local/-/media/2018/03/06/INGroup/Indianapolis/636559383708988677-Infosys-KW-027.JPG");
    background-size: auto;
    background-repeat: no-repeat;
  } */